# Ignore node_modules (dependencies will be installed in the container)
node_modules

# Ignore logs
*.log
logs/

# Ignore environment files (if sensitive)
.env

# Ignore Docker-related files
Dockerfile
docker-compose.yml

# Ignore temporary files
*.tmp
*.swp
.DS_Store